<div class="timecard {{ timeType === 'actual' ? 'active' : null }}">
  <div class="timecard__clock">
    <svg width="21" height="21" viewBox="0 0 21 21" fill="none" xmlns="http://www.w3.org/2000/svg">
      <circle cx="10.5" cy="10.5" r="8.16" stroke="white" stroke-width="3" />
      <line x1="10.552" y1="9.44397" x2="10.62" y2="7.44803" stroke="white" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" />
      <line x1="10.5331" y1="9.83558" x2="7.4092" y2="13.4918" stroke="white" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" />
    </svg>
  </div>
  <div class="timecard__time">
    {{ timeType === 'actual' ? 'Actual Time:' : 'Est. Time:' }} {{ formattedTime.split(':')[0] }}h {{ formattedTime.split(':')[1] }}m
  </div>
</div>
