$text-color: #fff;
$bg-color: grey;

.timecard {
  display: flex;
  font-family: "Roboto", sans-serif;
  padding: 6px 8px;
  border-radius: 5px;
  align-items: center;
  background: $bg-color;
  width: max-content;

  &__clock {
    flex-shrink: 1;
    fill: $text-color;
    margin-left: -2px;
    margin-right: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__time {
    color: $text-color;
    font-size: 14px;
  }

  &.active {
    background: #DA7E3B;
  }
}
