$text-color: #fff;
$bg-color: grey;

.timecard {
  display: flex;
  font-family: "Roboto", sans-serif;
  padding: 6px 8px;
  border-radius: 5px;
  align-items: center;
  background: $bg-color;
  width: max-content;

  &__clock {
    flex-shrink: 1;
    fill: $text-color;
    margin-left: -2px;
    margin-right: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__time {
    color: $text-color;
    font-size: 14px;
  }

  &.active {
    background: #DA7E3B;

    &.with-animation {
      .timecard__clock #hours {
        transform-origin: 10.552px 9.44397px;
        animation: spin 39s infinite;
        animation-timing-function: linear;
      }

      .timecard__clock #minutes {
        transform-origin: 10.5331px 9.83558px;
        animation: spin 3s infinite;
        animation-timing-function: linear;
      }
    }
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
