$border-radius: 5px;
$task-bg-color: #fff;

:host(.task) {
  display: block;
  background: $task-bg-color;
  padding: 10px;
  padding-top: 0px;
  border-radius: $border-radius;
  border: solid thin #333;
}

.task {
  &__description {
    margin: 10px 0px;
    word-wrap: break-word;
    width: 100%;
    border: none;
    resize: none;
  }

  &__actions {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
}
