$border-radius: 5px;
$task-bg-color: #fff;

.task {
  display: block;
  background: $task-bg-color;
  padding: 10px;
  padding-top: 1px;
  border-radius: $border-radius;

  .timecard {
    margin-right: auto;
  }

  &__description {
    margin: 10px 0px;
    word-wrap: break-word;
    width: 100%;
    border: none;
    resize: none;
  }

  &__footer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  &:active {
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
              0 8px 10px 1px rgba(0, 0, 0, 0.14),
              0 3px 14px 2px rgba(0, 0, 0, 0.12);
}
}
