<div class="notices ph-6">
  <div *ngIf="successMessage" class="success" (click)="successMessage = null">{{ successMessage }}</div>
</div>
<div class="track-that__boards">
  <task-board *ngFor="let status of ['in-progress', 'planned', 'complete']" [status]="status" [tasks]="tasks" (addTask)="handleAddTask($event)" (removeTask)="handleRemoveTask($event)">
  </task-board>
</div>

<!-- Remove Task Modal -->
<modal [show]="showRemoveTaskModal" (close)="cancelRemoveTask($event)" maxWidth="400px">
  <h4 class="text-centered mt-0">Are you sure you want to delete this task?</h4>
  <div class="modal__actions centered">
    <btn label="Yes" additionalClasses="add big" (click)="removeTask($event)"></btn>
    <btn label="No" additionalClasses="remove big" (click)="cancelRemoveTask($event)"></btn>
  </div>
</modal>

<!-- Add Task Modal -->
<modal [show]="showAddTaskModal" (close)="cancelAddTask($event)">
  <input class="form-control lg-text" name="name" title [(ngModel)]="activeTask.name" ngDefaultControl placeholder="Name..." />

  <div *ngIf="errorMessage" class="notices mt--20">
    <div *ngIf="errorMessage" class="danger" (click)="errorMessage = null">{{ errorMessage }}</div>
  </div>
  <textarea class="form-control" [(ngModel)]="activeTask.description" name="description" ngDefaultControl placeholder="Add a description...">
  </textarea>
  <div class="modal__actions">
    <input class="form-control lg-text" name="est-time" type="number" [(ngModel)]="activeTask.estimatedTime" ngDefaultControl placeholder="Est. Time..." />
    <btn label="Create" additionalClasses="add" (click)="addTask($event)"></btn>
  </div>
</modal>

<div class="track-that__banner">
  <h1>Track That</h1>
</div>
