$danger: #E35656;
$success: #73C85E;

.track-that {
  &__banner {
    text-align: center;
    background: #DA7E3B;
    color: #fff;
    padding: 10px;
    position: fixed;
    bottom: 0px;
    width: 100%;

    h1 {
      margin: 0px;
    }
  }

  &__boards {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
    align-items: flex-start;
  }
}

.modal__actions {
  display: flex;
  justify-content: flex-end;

  &.centered {
    justify-content: center;
  }

  btn {
    margin-left: 5px;
  }

  input[name="est-time"] {
    margin-right: auto;
  }
}

.notices {
  margin: 5px 0px;

  .success {
    padding: 10px;
    background: lighten($success, 15%);
    color: #333;
    border-radius: 5px;
    font-size: 1.6em;
  }

  .danger {
    padding: 10px;
    background: lighten($danger, 15%);
    color: #333;
    border-radius: 5px;
    font-size: 1.6em;
  }
}
