$font-family: "Roboto", sans-serif;
$base-font-size: 12px;
$text-color: #333;

html {
  font-size: $base-font-size;
  color: $text-color;
}

h4 {
  font-family: "Roboto", sans-serif;
  font-size: 1.5em;
  margin: 1em 0em;
}

textarea {
  font-family: $font-family;
  font-size: 1.2em;
}
