$bg-color: #EFEFEF;
$border-radius: 10px;

:host(.task-board) {
  background: $bg-color;
  padding: 15px;
  padding-top: 1px;
  display: block;
  border-radius: $border-radius;
  max-width: 32%;
  width: 32%;
  margin: 0px 5px;

  .timecard {
    margin-left: auto;
  }
}

.task-board {
  &__header {
    display: flex;
    align-items: center;
  }

  &__tasks {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    min-height: 20px;

    & > * {
      margin: 5px 0px;
    }

    .cdk-drag-placeholder {
      opacity: 0;
    }
  }

  &__actions {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
}
