$bg-color: #EFEFEF;
$border-radius: 10px;
$task-border-radius: 5px;
$task-bg-color: #fff;

:host(.task-board) {
  background: $bg-color;
  padding: 15px;
  padding-top: 1px;
  display: block;
  border-radius: $border-radius;
  max-width: 32%;
  width: 32%;
  margin: 0px 5px;
}

.task-board {
  &__header {
    display: flex;
    align-items: center;

    .timecard-wrapper {
      margin-left: auto;
    }
  }

  &__tasks {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    min-height: 20px;

    & > * {
      margin: 5px 0px;
    }

    .cdk-drag-placeholder {
      opacity: 0;
    }
  }

  &__actions {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
}

.task {
  display: block;
  background: $task-bg-color;
  padding: 10px;
  padding-top: 1px;
  border-radius: $task-border-radius;

  &__description {
    margin: 10px 0px;
    word-wrap: break-word;
    width: 100%;
    border: none;
    resize: none;
  }

  &__footer {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    .timecard-wrapper {
      margin-right: auto;
    }
  }
}
